<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    
    </ion-buttons>
    <ion-title>Lugares y Monumentos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToHome()">
        <ion-icon name="globe"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-place-item *ngFor="let place of places" [placeItem]="place"></app-place-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="addNewPlace()" type="button">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>